@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
	font-family: Tajawal, sans-serif;
	background: none;
	user-select: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    transition: all 0.15s;
}


.card {
    width: 350px;
	box-shadow: 0px 0px 5px 0px #0a0a0a;
	border-radius: 15px;
	background-color: transparent;
}

.menu {
	display: none;
	position: fixed;
	top: 50%;
	left: 90%;
	transform: translate(-50%, -50%);
}

.logo {
	max-width: 140px;
}

.card-body {
    background-color: #1b1b21;
	color: rgb(235, 235, 235);
    border-radius: 15px;
}

.gangers {
    position: relative;
    right: -3.0vh;
    margin-top: 1.5vh;
    display: grid;
    grid-template-columns: 38.0065717415115vh;
    justify-content: center;
}

.gangmember {
	width: 32vh;
    height: 2.5vh;
}

.gangmember:nth-child(odd) {
    box-shadow: 0px 0px 5px 0px #121212;
    background-color: #000000;
}

.gangmember:nth-child(even) {
    box-shadow: 0px 0px 5px 0px #202020;
    background-color: #00000095;
}

/* #radio {
    color: rgb(248, 71, 239);
}

#vehicleicon {
    color: rgb(248, 71, 239);
} */